/* src/components/UserProfile.css */

.user-profile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6200ea;
  border: 1px solid #000000;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
  width: 40%;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

.user-profile h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #000000;
}

.user-profile .profile-item {
  margin-bottom: 15px;
  text-align: left;
}

.user-profile .profile-item label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-profile .profile-item input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.user-profile .update-btn,
.user-profile .password-btn,
.user-profile .logout-btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.user-profile .update-btn {
  background-color: #007bff;
}

.user-profile .update-btn:hover {
  background-color: #0056b3;
}

.user-profile .password-btn {
  background-color: #28a745;
}

.user-profile .password-btn:hover {
  background-color: #218838;
}

.user-profile .logout-btn {
  background-color: #dc3545;
}

.user-profile .logout-btn:hover {
  background-color: #c82333;
}

.user-profile .error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 15px;
}
